# Python-related files
*.pyc
*.pyo
__pycache__/
*.egg-info/

# Virtual environment
venv/
env/

# Output folder for processed images
processed_images/

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp
